/*=========================== 
ОБЩИЕ СТИЛИ 
===========================*/

.page {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
  background-color: #849d8f;
  margin: 10px 0;
  padding: 0;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 60px;
}

h2 {
  color: #fff;
  font-weight: normal;
  font-size: 35px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 41px;
}

.page__main-head {
  width: 100%;
  margin: 0;
  padding: 0;
}










/*=========================== 
ШАПКА
===========================*/

.main-head {
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 27px;
}

.main-head--clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.main-head__logo {
  float: left;
  width: 154px;
  height: 64px;
  margin-left: -6px;
}





/*=============
==============*/

.main-nav {
  float: left;
  width: 410px;
  min-height: 64px;
}

.main-nav__list {
  margin: 0;
  margin-left: 20px;
  padding: 0;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  list-style: none;
  margin-top: 19px;
}

.main-nav__item--1 {
  position: relative;
}

.main-nav__link {
  position: relative;
  margin-right: 4px;
  padding: 10px;
  width: 33px;
  height: 33px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", Arial, sans-serif;
}

.main-nav__link::before {
  content: "";
  position: absolute;
  bottom: 11px;
  right: 9px;
  left: 9px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.main-nav__link:hover {
  background-color: #f7f6f3;
  color: #333333;
}

.main-nav__submenu-list {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__item--1:hover .main-nav__submenu-list {
  display: block;
  position: absolute;
  clear: both;
}

.main-nav__submenu-item {
  
}

.main-nav__submenu-link {
  text-decoration: none;
  color: #fff;
}





/*=============
==============*/

.main-head__user-menu {
  min-height: 75px;
  float: right;
  width: 262px;
  margin-top: 14px;
}



.user-menu {
  display: block;
  margin-bottom: 10px;
}



.user-menu__search {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

.search {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.search__btn {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50px;
  background: #9db1a5 url(../img/search-icon.png) no-repeat 9px 7px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", Arial, sans-serif;
}

.search__btn:hover {
  background: #f8f7f4 url(../img/search-black-icon.png) no-repeat 9px 7px;
  color: #323232;
}

.search__popup {
  display: none;
  position: absolute;
}

.search:hover .search__popup {
  display: block;
  position: absolute;
  clear: both;
}

.search__form {
  
}

.search__input {
  
}



.user-menu__login {
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

.login {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.login__btn {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 48px;
  height: 24px;
  border-radius: 50px;
  padding-top: 8px;
  padding-left: 44px;
  background: #9db1a5 url(../img/login-icon.png) no-repeat 18px 6px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto", Arial, sans-serif;
}

.login__btn:hover {
  background: #f8f7f4 url(../img/login-black-icon.png) no-repeat 18px 6px;
  color: #323232;
}

.login__popup {
  display: none;
  position: absolute;
}

.login:hover .login__popup {
  display: block;
  position: absolute;
  clear: both;
}


.login__form {
  
}

.login__email {
  
}

.login__password {
  
}

.login__submit {
  
}

.login__links {
  
}



.user-menu__cart {
  display: inline-block;
  vertical-align: top;
}

.cart {
  position: relative;
}

.cart__link {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 72px;
  height: 24px;
  border-radius: 50px;
  padding-top: 8px;
  padding-left: 45px;
  background: #9db1a5 url(../img/cart-icon.png) no-repeat 18px 6px;
  font-size: 14px;
  line-height: 16px;
}



.contacts-brief {
  width: 170px;
  float: right;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
  text-align: right;
  padding-top: 7px;
  font-weight: 500;
  font-weight: 600;
}

.contacts-brief span {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
}









/*=========================== 
МАЙН
===========================*/


.page__main-content {
/*  width: 1150px;*/
/*  margin: 0 auto;*/
/*  padding: 0 25px;*/
}





/*=========================== 
СЛАЙДЕР
===========================*/

.slider {
  width: 1146px;
  min-height: 470px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 27px;
}



.slider__item {
  width: 1146px;
  min-height: 470px;
  position: relative;
  margin: 0 auto;
}

.slider__title {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 60px;
  width: 680px;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 249px;
  left: 233px; 
  display: inline-block;
  vertical-align: top;
}

.slider__btn {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 44px;
  font-weight: 500;
  text-shadow: 0 3px 7px #c73f25;
  position: absolute;
  top: 400px;
  left: 434px;
  padding: 8px 40px;
  padding-bottom: 12px;
  border-radius: 50px;
  box-shadow: 0 2px 3px 0 #ab5948;
  background: #ec583c;
  background: linear-gradient(to bottom, #f16743, #e74b36);
/*  margin-bottom: 20px;*/
}

.slider__item--1 {
/*  background: url(../img/bg-slide-1.png) no-repeat top;*/
/*  display: none;*/
}

.slider__item--2 {
  background: url(../img/bg-slide-2.png) no-repeat top;
  display: none;
}

.slider__item--3 {
  background: url(../img/bg-slide-3.png) no-repeat top;
  display: none;
}



.slider__toggle {
  position: absolute;
  top: 565px;
}

.slide-toggle {
  
}










/*=========================== 
БАННЕРЫ
===========================*/

.banners {
  width: 1146px;
  min-height: 230px;
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 20px;
  padding: 0 27px;
}



.banners__btn {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  text-shadow: 0 3px 7px #e9543a;
  position: absolute;
  top: 160px;
  right: 20px;
  padding: 10px 23px;
  padding-bottom: 12px;
  border-radius: 50px;
  box-shadow: 0 2px 3px 0 #ab5948;
  background: #ec583c;
  background: linear-gradient(to bottom, #f16743, #e74b36);

}

.banners__block-1 {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  margin-right: 22px;
  min-height: 230px;
  position: relative;
  background: url(../img/banners-raspberry.jpg) no-repeat;
  border-radius: 10px;
}

.banners__block-2 {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  min-height: 230px;
  position: relative;
  background: url(../img/banners-chocolate.jpg) no-repeat;
  border-radius: 10px;
}

.banners__block-1 h2,
.banners__block-2 h2 {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-left: 19px;
  display: block;
  color: #fff;
  font-size: 35px;
  line-height: 41px;
  font-weight: 600;
  font-family: "Roboto", Arial, sans-serif;
}

.banners__block-1 p,
.banners__block-2 p {
  padding: 0;
  margin: 0;
  margin-top: 15px;
  margin-left: 19px;
  display: block;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  font-family: "Roboto", Arial, sans-serif;
}










/*=========================== 
ПРОМО
===========================*/

.promo {
  width: 1146px;
  min-height: 330px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 0 27px;
}



.product {
  display: inline-block;
  vertical-align: top;
  width: 267px;
  margin-right: 22px;
  position: relative;
}

.product:nth-child(4n+4) {
  margin-right: 0;
}

.product__hit-pic {
  position: absolute;
  top: 0;
  left: 0;
}

.product__icecream-pic {
  border-radius: 50%;
}

.product__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  position: absolute;
  top: 208px;
  left: 0;
}

.product__price-ru-icon {
  position: absolute;
  top: 6px;
  left: 80px;
}

.product__price-kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  padding-left: 35px;
}

.product__name,
.product__name h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-top: 6px;
  display: inline-block;
  vertical-align: top;
}

.product__name h4 {
  display: inline;
  border-bottom: 1px solid rgba(230, 230, 235, 0.3);
}

.product__btn {
  display: none;
}

.product:hover .product__btn {
  
}










/*=========================== 
ФУНКЦИИ
===========================*/

.features {
  width: 1146px;
  min-height: 307px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 0 27px;
  
}



.features__content {
  background: url(../img/features-pattern.jpg);
  border-radius: 15px;
  min-height: 307px;
}

.features__head {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  padding-left: 20px;
  padding-top: 25px;
/*  font-kerning: none;*/
  margin: 0;
}

.features__item {
  display: inline-block;
  vertical-align: top;
  width: 487px;
  margin-left: 20px;
  padding-left: 56px;
  padding-top: 22px;
}

.features__item:nth-child(2n+1) {
  margin-left: 20px;
}

.features__item p {
  margin: 0;
  padding: 0;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
}

.features__item--pic1 {
  background: url(../img/features-icecream.png) no-repeat 0 9px;
}

.features__item--pic2 {
  background: url(../img/features-cow.png) no-repeat 0 9px;
}

.features__item--pic3 {
  background: url(../img/features-leaf.png) no-repeat 0 9px;
}

.features__item--pic4 {
  background: url(../img/features-thermo.png) no-repeat 0 9px;
}










/*=========================== 
НОВОСТИ
===========================*/

.news {
  width: 1146px;
  min-height: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 0 27px;
}



.news__block {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  margin-right: 22px;
  min-height: 220px;
  border-radius: 15px;
}

.news__block:nth-child(2n+2) {
  margin-right: 0;
}

.news__random-theme {
  min-height: 220px;
  background: url(../img/news-theme.jpg) no-repeat;
  border-radius: 15px;
}

.news__random-theme p {
  margin: 0;
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  padding-top: 23px;
  padding-left: 20px;
}

.news__random-link {
  width: 330px;
  display: inline-block;
  padding-left: 20px;
  padding-top: 3px;
  color: #323232;
}

.news__random-link h3 {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

.news__block--subs-bg {
  min-height: 210px;
  border-radius: 15px;
  padding: 5px;
  width: 550px;
  background: #f8f7f4 url(../img/news-post-pattern.png) -10px;
}

.news__subscribe {
  min-height: 210px;
  border-radius: 15px;
  background: #f8f7f4;
}

.news__subscribe p {
  margin: 0;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  padding-top: 30px;
  padding-left: 22px;
}

.news__email {
  width: 342px;
  height: 39px;
  border-radius: 5px;
  margin-top: 36px;
  margin-left: 22px;
  border: 1px solid #d3d3d2;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  padding-left: 13px;
  padding-right: 13px;
}

.news__submit {
  text-decoration: none;
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  text-shadow: 0 3px 7px #e9543a;
  padding: 9px 18px;
  padding-bottom: 12px;
  border-radius: 50px;
  box-shadow: 0 2px 3px 0 #ab5948;
  background: #ec583c;
  background: linear-gradient(to bottom, #f16743, #e74b36);
  margin-top: 34px;
  margin-left: 5px;
  border: none;
}










/*=========================== 
БЛОК С КОНТАКТАМИ И КАРТОЙ
===========================*/

.contacts-full {
  position: relative;
  margin-top: 40px;
}



.contacts-full__map {
  width: 100%;
  position: absolute;
/*  min-height: 430px;*/
/*  margin-top: 40px;*/
}



.contacts-full__info-wrap {
  width: 1146px;
  min-height: 430px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 0 27px;
  position: relative;
}

.contacts-full__info {
  position: absolute;
  top: 61px;
  right: 27px;
  padding: 25px;
  width: 252px;
  border-radius: 15px;
}

.contacts-full__address p {
  margin: 0;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  width: 225px;
  padding-top: 5px;
}

.contacts-full__address span {
  color: #323232;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  padding-top: 1px;
  padding-left: 1px;
  display: block;
}

.contacts-full__phone p {
  margin: 0;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  width: 180px;
  padding-top: 18px;
  margin-bottom: 20px;
}

.contacts-full__phone span {
  display: block;
  color: #323232;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-family: "Roboto", Arial, sans-serif;
  padding-top: 5px;
  padding-bottom: 4px;
}

.contacts-full__btn {
  margin-top: 23px;
  margin-left: 0px;
  padding: 9px 26px;
  padding-left: 30px;
  padding-bottom: 12px;
  border: none;
  border-radius: 50px;
  background: #ec583c;
  background: linear-gradient(to bottom, #f16743, #e74b36);
  box-shadow: 0 2px 3px 0 #ab5948;
  color: #fefefe;
  text-decoration: none;
  text-shadow: 0 3px 7px #e9543a;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
  display: block;
}










/*=========================== 
ФУТЕР
===========================*/

.main-footer {
  width: 1146px;
  min-height: 53px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 27px;
}




/*=============
==============*/

.social {
  display: inline-block;
  margin-left: 2px;
  margin-right: 50px;
}

.social__btn {
  font-size: 0;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  border: 3px solid #c2cec7;
  margin-top: 21px;
  margin-right: 9px;
}

.social__btn--twitter {
  background: url(../img/social-twitter-icon.png) no-repeat center;
}

.social__btn--insta {
  background: url(../img/social-insta-icon.png) no-repeat center;
}

.social__btn--fb {
  background: url(../img/social-fb-icon.png) no-repeat center;
}

.social__btn--vk {
  background: url(../img/social-vk-icon.png) no-repeat center;
}





/*=============
==============*/

.more-info {
  display: inline-block;
  vertical-align: top;
  border: none;
  background: url(../img/heart-icon.png) no-repeat 2px 9px;
  margin-top: 12px;
  margin-left: 151px;
}

.more-info table {
  
}

.more-info__items {
  padding-left: 22px;
  padding-right: 7px;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.more-info__item {
  font-weight: 400;
  font-size: 13px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}

.more-info__item-1 {
  font-weight: 700;
}

.more-info__item-2 {
}

.more-info__item-3 {
}

.more-info__item-4 {
}





/*=============
==============*/

.copyright {
  display: inline-block;
  margin-left: 153px;
  vertical-align: top;
}

.copyright__logo {
  width: 108px;
  height: 38px;
  display: block;
  margin-left: 66px;
  margin-top: 3px;
}

.copyright__text {
  margin: 0;
  color: #fefefe;
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
  margin-left: 63px;
  margin-top: 4px;
}

.copyright__link {
  color: #fefefe;
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
}










/*=========================== 
ФОРМА ОБРАТНОЙ СВЯЗИ
===========================*/

.modal-writeus {
  display: none;
}

.modal-writeus__close {
  
}
