/*=========================== 
ОБЩИЕ СТИЛИ 
===========================*/

.page {
  margin: 0;
  padding: 0;
  background-color: #849d8f;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
}

h1 {
  color: #fff;
  font-weight: bold;
  font-size: 60px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 60px;
}

h2 {
  color: #fff;
  font-weight: normal;
  font-size: 35px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 41px;
}










/*=========================== 
ШАПКА
===========================*/

.main-head {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 27px;
  padding-top: 10px;
  width: 1146px;
}

.main-head--clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.main-head__logo {
  float: left;
  margin-left: -6px;
  width: 154px;
  height: 64px;
}





/*=============
==============*/

.main-nav {
  float: left;
  min-height: 64px;
  width: 410px;
}

.main-nav__list {
  display: table;
  margin: 0;
  margin-left: 15px;
  padding: 0;
}

.main-nav__item {
  display: inline-block;
  margin-top: 19px;
  padding-bottom: 10px;
  list-style: none;
  vertical-align: top;
}

.main-nav__item--1 {
  position: relative;
}

.main-nav__link {
  position: relative;
  overflow: hidden;
  padding: 7px 14px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
}

.main-nav__link::before {
  position: absolute;
  right: 13px;
  bottom: 7px;
  left: 13px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  content: "";
}

.main-nav__link--active {
  background-color: #d07058;
}

.main-nav__link--active::before {
  background-color: #d07058;
}

.main-nav__link:hover {
  background-color: #f7f6f3;
  color: #333333;
}

.main-nav__link--active:hover::before {
  background-color: #f7f6f3;
  color: #333333;
}

.main-nav__submenu-list {
  position: absolute;
  top: 32px;
  left: -5px;
  display: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  color: #323232;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.main-nav__item--1:hover .main-nav__submenu-list {
  position: absolute;
  z-index: 200;
  display: block;
  clear: both;
}

.main-nav__submenu-title {
  display: block;
  padding: 11px 20px;
  border-bottom: 1px solid #d1d0ce;
  color: #323232;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.main-nav__submenu-item {
  margin-bottom: 5px;
}

.main-nav__submenu-link {
  display: block;
  padding: 5px 20px;
  color: #323232;
  text-decoration: none;
}

.main-nav__submenu-link--current {
  background-color: #d07058;  
  color: #fff;
}

.main-nav__submenu-link:hover {
  background-color: #fbded7;
}

.main-nav__submenu-link:active {
  background-color: #f6b5a5;
}





/*=============
==============*/

.main-head__user-menu {
  position: relative;
  float: right;
  margin-top: 14px;
  min-width: 262px;
  min-height: 75px;
}



.user-menu {
  display: block;
  margin-bottom: 10px;
}



.user-menu__search {
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
}

.search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 150px;
}

.search__btn {
  display: block;
  margin-bottom: 15px;
  width: 33px;
  height: 33px;
  border-radius: 50px;
  background: url(../img/sprite.png) no-repeat -2px -1136px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.search__btn:hover {
  background: #f8f7f4 url(../img/sprite.png) no-repeat -2px -1099px;
  color: #323232;
}

.search__popup {
  position: absolute;
  top: 36px;
  right: 0;
  display: none;
}

.search:hover .search__popup {
  position: absolute;
  display: block;
  clear: both;
}

.search__form {
  position: relative;
  padding: 20px 15px;
  width: 310px;
  height: 44px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.search__input {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 12px;
  width: 310px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  color: #323232;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.search__label {
  position: absolute;
  top: 30px;
  left: 28px;
  z-index: 100;
  overflow: hidden;
  width: 286px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.search__input:hover {
  border-color: #999;
  box-shadow: inset 0 0 0 1px #999;
}

.search__input:focus {
  outline: none;
  border-color: #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
}

.search__input:focus + .search__label,
.search__input:valid + .search__label {
  position: absolute;
  top: 4px;
  left: 15px;
  color: #5b9ddf;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.search__input:valid {
  outline: none;
  border: 1px solid #d3d3d2;
  box-shadow: none;
}

.search__input:valid + .search__label {
  color: #999;
}



.user-menu__login {
  display: inline-block;
  margin-right: 6px;
  vertical-align: top;
}

.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.login__btn {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 8px;
  padding-right: 15px;
  padding-left: 44px;
  max-width: 330px;
  border-radius: 50px;
  background: url(../img/sprite.png) no-repeat 7px -753px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.login__btn:hover {
  background: #f8f7f4 url(../img/sprite.png) no-repeat 7px -714px;
  color: #323232;
}

.login__popup {
  position: absolute;
  top: 36px;
  right: -5px;
  z-index: 200;
  display: none;
  clear: both;
}

.login:hover .login__popup {
  position: absolute;
  z-index: 100;
  display: block;
  clear: both;
}


.login__form {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  padding-right: 17px;
  padding-left: 19px;
  min-height: 214px;
  width: 278px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
}

.login__email,
.login__password {
  position: relative;
  margin-bottom: 20px;
}

.login__email-input,
.login__password-input {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 12px;
  width: 240px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.login__email-label,
.login__password-label {
  position: absolute;
  top: 10px;
  left: 14px;
  overflow: hidden;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.login__email-input:hover,
.login__password-input:hover {
  border-color: #999;
  box-shadow: inset 0 0 0 1px #999;
}

.login__email-input:focus,
.login__password-input:focus {
  outline: none;
  border-color: #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
}

.login__email-input:focus + .login__email-label,
.login__email-input:valid + .login__email-label,
.login__password-input:focus + .login__password-label,
.login__password-input:valid + .login__password-label {
  position: absolute;
  top: -15px;
  left: 15px;
  color: #5b9ddf;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.login__email-input:valid,
.login__password-input:valid {
  outline: none;
  border: 1px solid #d3d3d2;
  box-shadow: none;
}

.login__email-input:valid + .login__email-label,
.login__password-input:valid + .login__password-label {
  color: #999;
}

.login__clearfix::after {
  display: table;
  clear: both;
  content: "";
}

.login__submit {
  float: left;
  padding: 11px 25px;
  padding-bottom: 12px;
  outline: none;
  border: none;
  border-radius: 50px;
  background: #ec583c;
  background: -webkit-linear-gradient(top, #f16743, #e74b36);
  background: linear-gradient(to bottom, #f16743, #e74b36);
  box-shadow: 0 2px 2px 0 #e74b36;
  color: #fff;
  text-shadow: 0 3px 7px #e9543a;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.login__submit:hover {
  background: -webkit-linear-gradient(top, #f58669, #ed705e);
  background: linear-gradient(to bottom, #f58669, #ed705e);
  box-shadow: 0 2px 2px #ac1000;
}

.login__submit:active {
  background: -webkit-linear-gradient(bottom, #f16743, #e74b36);
  background: linear-gradient(to top, #f16743, #e74b36);
  box-shadow: inset 0 2px 2px #ac1000;
}

.login__links {
  float: right;
  margin-top: 4px;
  width: 120px;
}

.login__links a {
  display: inline-block;
  margin-bottom: 7px;
  border-bottom: 1px solid #adacaa;
  color: #323232;
  vertical-align: top;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 13px;
}

.login__links a:hover,
.login__links a:active {
  border-color: rgba(232, 77, 55, 0.5);
  color: #e84d37;
}



.user-menu__cart {
  display: inline-block;
  vertical-align: top;
}

.cart {
  position: relative;
  padding-bottom: 15px;
}

.cart__link {
  display: block;
  padding: 8px;
  padding-right: 17px;
  padding-left: 44px;
  min-width: 54px;
  border-radius: 50px;
  background: url(../img/sprite.png) no-repeat 7px -44px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.cart__link--full {
  display: block;
  overflow: hidden;
  background: #f7f6f3 url(../img/sprite.png) no-repeat 7px -4px;
  color: #323232;
  white-space: nowrap;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.cart__modal {
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 200;
  display: none;
  box-sizing: border-box;
  padding: 15px 14px;
  min-height: 242px;
  width: 540px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  color: #323232;
}

.cart:hover .cart__modal {
  position: absolute;
  display: block;
  clear: both;
}

.cart__modal-table {
  padding-bottom: 3px;
  border-bottom: 1px solid #cacac7;
}

.cart__modal-table td {
  padding-bottom: 10px;
  vertical-align: top;
}

.cart__modal-del {
  position: relative;
  padding-right: 13px;
  width: 10px;
} 

.cart__modal-del a {
  position: absolute;
  top: 3px;
  left: 0px;
  color: #323232;
  text-decoration: none;
  font-weight: 300;
  font-size: 26px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 26px;
}

.cart__modal-pic{
  padding-top: 3px;
  padding-right: 9px;
  vertical-align: top;
}

.cart__modal-pic img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.cart__modal-product {
  padding-top: 12px;
  padding-right: 24px;
  width: 220px;
  vertical-align: top;
  font-weight: 400;
  font-size: 13px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.cart__modal-price {
  padding-top: 12px;
  width: 119px;
  vertical-align: top;
  font-weight: 400;
  font-size: 13px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.cart__modal-price span {
  color: #999;
}

.cart__modal-summary {
  padding-top: 12px;
  width: 65px;
  vertical-align: top;
  font-weight: 400;
  font-size: 13px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.cart__modal-total {
  margin-top: 14px;
  color: #333;
  text-align: right;
  font-weight: 500;
  font-size: 15px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
}

.cart__modal-submit {
  position: absolute;
  right: 13px;
  bottom: 20px;
  z-index: 300;
  padding: 11px 15px;
  padding-bottom: 12px;
  outline: none;
  border: none;
  border-radius: 30px;
  background: #ec583c;
  background: -webkit-linear-gradient(top, #f16743, #e74b36);
  background: linear-gradient(to bottom, #f16743, #e74b36);
  box-shadow: 0 2px 2px 0 #e74b36;
  color: #fff;
  text-shadow: 0 3px 7px #e9543a;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
  cursor: pointer;
}

.cart__modal-submit:hover {
  background: -webkit-linear-gradient(top, #f58669, #ed705e);
  background: linear-gradient(to bottom, #f58669, #ed705e);
  box-shadow: 0 2px 2px #ac1000;
}

.cart__modal-submit:active {
  background: -webkit-linear-gradient(bottom, #f16743, #e74b36);
  background: linear-gradient(to top, #f16743, #e74b36);
  box-shadow: inset 0 2px 2px #ac1000;
}



.contacts-brief {
  position: absolute;
  top: 43px;
  right: 0;
  display: block;
  overflow: hidden;
  padding-top: 7px;
  width: 175px;
  text-align: right;
  word-break: break-all;
  font-weight: 600;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.contacts-brief p {
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 34px;
}









/*=========================== 
МАЙН
===========================*/





/*=========================== 
СЛАЙДЕР
===========================*/

.page__wrapper {
  min-width: 1200px;
  width: 100%;
  background: #849d8f url(../img/bg-slide-1.png) no-repeat top center;
}

.page__wrapper::before,
.page__wrapper::after {
  visibility: hidden;
  content: "";
}

.page__wrapper::before,
.page__wrapper::after {
  background-image: url(../img/bg-slide-3.png);
}

.page__wrapper::after {
  background-image: url(../img/bg-slide-2.png);
}



.slider {
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 27px;
  min-height: 470px;
  width: 1146px;
}



.slider__item {
  position: relative;
  display: none;
  margin: 0 auto;
  margin-top: 45px;
  min-height: 390px;
  width: 1146px;
  text-align: center;
}

#radio-slide1:checked ~ .page__wrapper #slide-1,
#radio-slide2:checked ~ .page__wrapper #slide-2,
#radio-slide3:checked ~ .page__wrapper #slide-3 {
  display: block;
}

#radio-slide1:checked ~ .page__wrapper label[for="radio-slide1"],
#radio-slide2:checked ~ .page__wrapper label[for="radio-slide2"],
#radio-slide3:checked ~ .page__wrapper label[for="radio-slide3"] {
  background-color: #fff;
}

#radio-slide1:checked ~ .page__wrapper {
  background: #849d8f url(../img/bg-slide-1.png) no-repeat top center;
}

#radio-slide2:checked ~ .page__wrapper {
  background: #8996a6 url(../img/bg-slide-2.png) no-repeat top center;
}

#radio-slide3:checked ~ .page__wrapper {
  background: #9d8b84 url(../img/bg-slide-3.png) no-repeat top center;
}

.slider__title {
  display: inline-block;
  margin: 0 auto;
  margin-top: 250px;
  margin-bottom: 30px;
  padding: 0;
  width: 680px;
  color: #fff;
  vertical-align: top;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 60px;
}

.slider__btn {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px 20px;
  padding-bottom: 12px;
  width: 278px;
  border-radius: 50px;
  background: #ec583c;
  background: -webkit-linear-gradient(top, #f16743, #e74b36);
  background: linear-gradient(to bottom, #f16743, #e74b36);
  box-shadow: 0 2px 2px 0 #ab5948;
  color: #fff;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: 0 3px 7px #c73f25;
  word-break: break-all;
  font-weight: 500;
  font-size: 32px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 44px;
}

.slider__btn:hover {
  background: -webkit-linear-gradient(top, #f58669, #ed705e);
  background: linear-gradient(to bottom, #f58669, #ed705e);
  box-shadow: 0 2px 2px #ac1000;
}

.slider__btn:active {
  background: -webkit-linear-gradient(bottom, #f16743, #e74b36);
  background: linear-gradient(to top, #f16743, #e74b36);
  box-shadow: inset 0 2px 2px #ac1000;
}

.slider__toggle {
  position: absolute;
  top: 564px;
  z-index: 50;
}

.slider__toggle label {
  display: inline-block;
  margin-right: 5px;
  width: 17px;
  height: 17px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  vertical-align: top;
  cursor: pointer;
}

.slide-toggle {
  display: none;
}










/*=========================== 
БАННЕРЫ
===========================*/

.banners {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 27px;
  min-height: 230px;
  width: 1146px;
}



.banners__btn {
  float: right;
  overflow: hidden;
  margin-top: 44px;
  margin-right: 21px;
  margin-left: 21px;
  padding: 10px 23px;
  padding-bottom: 12px;
  border-radius: 50px;
  background: #ec583c;
  background: -webkit-linear-gradient(top, #f16743, #e74b36);
  background: linear-gradient(to bottom, #f16743, #e74b36);
  box-shadow: 0 2px 2px 0 #e74b36;
  color: #fff;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: 0 3px 7px #e9543a;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.banners__btn::after {
  display: table;
  clear: both;
  content: "";
}

.banners__btn:hover {
  background: -webkit-linear-gradient(top, #f58669, #ed705e);
  background: linear-gradient(to bottom, #f58669, #ed705e);
  box-shadow: 0 2px 2px #ac1000;
}

.banners__btn:active {
  background: -webkit-linear-gradient(bottom, #f16743, #e74b36);
  background: linear-gradient(to top, #f16743, #e74b36);
  box-shadow: inset 0 2px 2px #ac1000;
}

.banners__block {
  display: inline-block;
  margin-right: 22px;
  padding-bottom: 25px;
  min-height: 153px;
  width: 560px;
  border-radius: 10px;
  vertical-align: top;
}

.banners__block:nth-child(2n) {
  margin-right: 0;
}

.banners__block--1 {
  background: #950318 url(../img/banners-raspberry.jpg) repeat-y;
}

.banners__block--2 {
  background: #4d2f21 url(../img/banners-chocolate.jpg) repeat-y;
}

.banners__block h2 {
  display: block;
  margin: 0;
  margin-top: 15px;
  margin-left: 19px;
  padding: 0;
  color: #fff;
  font-weight: 600;
  font-size: 35px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 41px;
}

.banners__block p {
  display: block;
  margin: 0;
  margin-top: 15px;
  margin-left: 19px;
  padding: 0;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
}










/*=========================== 
ПРОМО
===========================*/

.promo {
  margin: 0 auto;
  margin-top: 38px;
  padding: 0 27px;
  min-height: 330px;
  width: 1146px;
}



.product {
  position: relative;
  display: inline-block;
  margin-right: 22px;
  margin-bottom: 40px;
  width: 267px;
  vertical-align: top;
}

.product:nth-child(4n+4) {
  margin-right: 0;
}

.product__hit-pic {
  position: absolute;
  top: 0;
  left: 0;
}

.product__icecream-pic {
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.product__price {
  display: inline-block;
  margin-top: -65px;
  max-width: 267px;
  vertical-align: top;
  word-break: break-all;
  font-weight: 500;
  font-size: 45px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 45px;
}

.product__price-ru-icon {
  padding-top: 5px;
  padding-left: 3px;
  vertical-align: top;
}

.product__price-kg {
  padding-left: 2px;
  font-weight: 500;
  font-size: 30px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 45px;
}

.product__name,
.product__name h4 {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  margin-top: -16px;
  width: 267px;
  color: #fff;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
}

.product__name h4 {
  display: inline;
  border-bottom: 1px solid rgba(230, 230, 235, 0.3);
}

.product:hover h4 {
  border: none;
}

.product__btn {
  position: absolute;
  right: 0;
  bottom: -65px;
  left: 0;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 9px 16px;
  padding-bottom: 11px;
  width: 200px;
  max-height: 44px;
  border-radius: 50px;
  background: #ec583c;
  background: -webkit-linear-gradient(top, #f16743, #e74b36);
  background: linear-gradient(to bottom, #f16743, #e74b36);
  box-shadow: 0 2px 3px 0 #ab5948;
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.product__btn:hover {
  background: -webkit-linear-gradient(top, #f58669, #ed705e);
  background: linear-gradient(to bottom, #f58669, #ed705e);
  box-shadow: 0 2px 2px #ac1000;
}

.product__btn:active {
  background: -webkit-linear-gradient(bottom, #f16743, #e74b36);
  background: linear-gradient(to top, #f16743, #e74b36);
  box-shadow: inset 0 2px 2px #ac1000;
}

.product::before  {
  position: absolute;
  top: -5px;
  left: -5px;
  display: none;
  padding: 5px;
  padding-bottom: 75px;
  width: 267px;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  content: "";
}

.product:hover {
  z-index: 10;
}

.product:hover::before {
  display: block;
}

.product:hover .product__btn {
  display: block;
}










/*=========================== 
ФУНКЦИИ
===========================*/

.features {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 27px;
  min-height: 305px;
  width: 1146px;
}



.features__content {
  min-height: 305px;
  border-radius: 15px;
  background: #efe3c8 url(../img/features-pattern.jpg);
}

.features__head {
  margin: 0;
  padding-top: 22px;
  padding-left: 20px;
  color: #323232;
  font-weight: 500;
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 30px;
}

.features__item {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  padding-top: 22px;
  padding-left: 56px;
  width: 487px;
  vertical-align: top;
}

.features__item:nth-child(2n+1) {
  margin-left: 20px;
}

.features__item p {
  margin: 0;
  padding: 0;
  color: #323232;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
}

.features__item--pic1::before {
  position: absolute;
  top: 9px;
  left: 0;
  width: 49px;
  height: 49px;
  background: url(../img/sprite.png) no-repeat -10px -399px;
  content: "";
}

.features__item--pic2::before {
  position: absolute;
  top: 9px;
  left: 0;
  width: 49px;
  height: 49px;
  background: url(../img/sprite.png) no-repeat -10px -330px;
  content: "";
}

.features__item--pic3::before {
  position: absolute;
  top: 9px;
  left: 0;
  width: 49px;
  height: 49px;
  background: url(../img/sprite.png) no-repeat -10px -468px;
  content: "";
}

.features__item--pic4::before {
  position: absolute;
  top: 9px;
  left: 0;
  width: 49px;
  height: 49px;
  background: url(../img/sprite.png) no-repeat -10px -537px;
  content: "";
}










/*=========================== 
НОВОСТИ
===========================*/

.news {
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 20px;
  padding: 0 27px;
  min-height: 220px;
  width: 1146px;
}



.news__block {
  display: inline-block;
  margin-right: 22px;
  min-height: 220px;
  width: 560px;
  border-radius: 15px;
  vertical-align: top;
}

.news__block:nth-child(2n+2) {
  margin-right: 0;
}

.news__random-theme {
  min-height: 220px;
  border-radius: 15px;
  background: #fff url(../img/news-theme.jpg) repeat-y;
}

.news__random-theme p {
  margin: 0;
  padding-top: 24px;
  padding-left: 20px;
  color: #323232;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
}

.news__random-link {
  display: inline-block;
  padding-top: 4px;
  padding-left: 20px;
  width: 330px;
  color: #323232;
  vertical-align: top;
}

.news__random-link:hover,
.news__random-link:active {
  color: #e84d37;
}

.news__random-link h3 {
  display: inline;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 30px;
}

.news__block--subs-bg {
  padding: 5px;
  min-height: 210px;
  width: 550px;
  border-radius: 15px;
  background: #f8f7f4 url(../img/news-post-pattern.png) -10px;
}

.news__subscribe {
  min-height: 210px;
  border-radius: 15px;
  background: #f8f7f4;
}

.news__subscribe p {
  margin: 0;
  padding-top: 30px;
  padding-left: 22px;
  color: #5a5a5a;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
}

.news__email {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.news__email-input {
  position: relative;
  overflow: hidden;
  margin-top: 36px;
  margin-left: 22px;
  padding-right: 13px;
  padding-left: 13px;
  width: 340px;
  height: 39px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.news__email-label {
  position: absolute;
  top: 46px;
  left: 36px;
  z-index: 100;
  overflow: hidden;
  width: 286px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.news__email-input:hover {
  border-color: #999999;
  box-shadow: inset 0 0 0 1px #999999;
}

.news__email-input:focus {
  outline: none;
  border-color: #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
}

.news__email-input:focus + .news__email-label,
.news__email-input:valid + .news__email-label {
  position: absolute;
  top: 20px;
  left: 30px;
  color: #5b9ddf;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.news__email-input:valid {
  outline: none;
  border: 1px solid #d3d3d2;
  box-shadow: none;
}

.news__email-input:valid + .news__email-label {
  color: #999;
}

.news__submit {
  margin-top: 34px;
  margin-left: 8px;
  padding: 9px 18px;
  padding-bottom: 12px;
  outline: none;
  border: none;
  border-radius: 50px;
  background: #ec583c;
  background: -webkit-linear-gradient(top, #f16743, #e74b36);
  background: linear-gradient(to bottom, #f16743, #e74b36);
  box-shadow: 0 2px 2px 0 #ab5948;
  color: #fefefe;
  text-decoration: none;
  text-shadow: 0 3px 7px #e9543a;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
  cursor: pointer;
}

.news__submit:hover {
  background: -webkit-linear-gradient(top, #f58669, #ed705e);
  background: linear-gradient(to bottom, #f58669, #ed705e);
  box-shadow: 0 2px 2px #ac1000;
}

.news__submit:active {
  background: -webkit-linear-gradient(bottom, #f16743, #e74b36);
  background: linear-gradient(to top, #f16743, #e74b36);
  box-shadow: inset 0 2px 2px #ac1000;
}










/*=========================== 
БЛОК С КОНТАКТАМИ И КАРТОЙ
===========================*/

.contacts-full {
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 16px;
  min-width: 1200px;
  min-height: 430px;
  width: 100%;
}



.contacts-full__map {
  margin: 0 auto;
  min-width: 1200px;
  width: 100%;
  height: 429px;
  background: url(../img/map.jpg) no-repeat center;
}

.contacts-full__map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.map {
  width: 100%;
  height: 429px;
  background-color: #e4dec4;
}

#map {
  width: 100%;
  height: 429px;
}



.contacts-full__info {
  position: absolute;
  top: 63px;
  right: 102px;
  padding: 25px;
  width: 252px;
  border-radius: 15px;
  background-color: #fefefe;
}

.contacts-full__info-wrap::after {
  display: table;
  clear: both;
  content: "";
}

.contacts-full__address p {
  margin: 0;
  padding-top: 4px;
  width: 225px;
  color: #323232;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 20px;
}

.contacts-full__address span {
  display: block;
  padding-top: 1px;
  padding-left: 1px;
  color: #323232;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.contacts-full__phone p {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 18px;
  width: 180px;
  color: #323232;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 20px;
}

.contacts-full__phone span {
  display: block;
  padding-top: 5px;
  padding-bottom: 3px;
  color: #323232;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 22px;
}

.contacts-full__btn {
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 24px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 9px 16px;
  padding-bottom: 12px;
  padding-left: 30px;
  width: 252px;
  border: none;
  border-radius: 50px;
  background: #ec583c;
  background: -webkit-linear-gradient(top, #f16743, #e74b36);
  background: linear-gradient(to bottom, #f16743, #e74b36);
  box-shadow: 0 2px 3px 0 #ab5948;
  color: #fefefe;
  text-decoration: none;
  text-overflow: ellipsis;
  text-shadow: 0 3px 7px #e9543a;
  white-space: nowrap;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.contacts-full__btn:hover {
  background: -webkit-linear-gradient(top, #f58669, #ed705e);
  background: linear-gradient(to bottom, #f58669, #ed705e);
  box-shadow: 0 2px 2px #ac1000;
}

.contacts-full__btn:active {
  background: -webkit-linear-gradient(bottom, #f16743, #e74b36);
  background: linear-gradient(to top, #f16743, #e74b36);
  box-shadow: inset 0 2px 2px #ac1000;
}










/*=========================== 
ФУТЕР
===========================*/

.main-footer {
  margin: 0 auto;
  padding: 0 27px;
  min-height: 102px;
  width: 1146px;
}

.main-footer::after {
  display: table;
  clear: both;
  content: "";
}




/*=============
==============*/

.social {
  float: left;
  margin-right: 50px;
  margin-left: 2px;
}

.social__btn {
  display: inline-block;
  margin-top: 21px;
  margin-right: 9px;
  width: 30px;
  height: 30px;
  border: 3px solid #c2cec7;
  border-radius: 50%;
  vertical-align: top;
  font-size: 0;
  opacity: 0.7;
}

.social__btn:hover {
  opacity: 1;
}

.social__btn:active {
  box-shadow: inset 0 2px 1px 0 #888888;
  opacity: 0.7;
}

.social__btn--twitter {
  background: url(../img/sprite.png) no-repeat -11px -1285px;
}

.social__btn--twitter:hover {
  background: url(../img/sprite.png) no-repeat -11px -1285px;
}

.social__btn--insta {
  background: url(../img/sprite.png) no-repeat -11px -1233px;
}

.social__btn--fb {
  background: url(../img/sprite.png) no-repeat -11px -1181px;
}

.social__btn--vk {
  background: url(../img/sprite.png) no-repeat -11px -1337px;
}





/*=============
==============*/

.more-info {
  position: relative;
  float: left;
  margin-top: 12px;
  margin-right: 50px;
  margin-left: 155px;
  max-width: 355px;
  border: none;
}

.more-info::before {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 15px;
  height: 13px;
  background: url(../img/sprite.png) no-repeat -10px -606px;
  content: "";
}

.more-info table {
  margin-top: 2px;
  max-width: 355px;
  border-spacing: 0;
  vertical-align: top;
}

.more-info__items {
  overflow: hidden;
  padding-right: 7px;
  padding-bottom: 0;
  padding-left: 24px;
  border: none;
  vertical-align: top;
  word-break: break-all;
}

.more-info__item {
  border-bottom: 1px solid #9db1a5;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
}

.more-info__item:hover,
.more-info__item:active {
  border-color: rgba(255, 188, 158, 0.3);
  color: #ffbc9e;
}

.more-info__item-1 {
  font-weight: 700;
}





/*=============
==============*/

.copyright {
  float: right;
  margin-left: 50px;
}

.copyright__logo {
  display: block;
  margin-top: 3px;
  margin-left: 69px;
  width: 108px;
  height: 38px;
}

.copyright__text {
  margin: 0;
  margin-top: 4px;
  margin-left: 67px;
  max-width: 190px;
  color: #fefefe;
  font-weight: 400;
  font-size: 12px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
}

.copyright__link {
  border-bottom: 1px solid #9db1a5;
  color: #fefefe;
  text-decoration: none;
}

.copyright__link:hover,
.copyright__link:active {
  border-color: rgba(255, 188, 158, 0.3);
  color: #ffbc9e;
}










/*=========================== 
ФОРМА ОБРАТНОЙ СВЯЗИ
===========================*/

.modal-writeus {
  position: fixed;
  top: 100px;
  left: 50%;
  z-index: 1000;
  display: none;
  box-sizing: border-box;
  margin-left: -237px;
  padding: 17px 24px;
  min-height: 442px;
  width: 476px;
  border-radius: 5px;
  background-color: #f8f7f4;
}

.modal-writeus__show,
.modal-overlay__show {
  display: block;
  -webkit-animation: show 1.5s;
  animation: show 1.5s;
}

@-webkit-keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-writeus__error {
  -webkit-animation: shake 1s;
  animation: shake 1s;
}

@-webkit-keyframes shake {
  0%, 100%                { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

@keyframes shake {
  0%, 100%                { -webkit-transform: translateX(0); transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { -webkit-transform: translateX(-10px); transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { -webkit-transform: translateX(10px); transform: translateX(10px); }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-overlay__show {
  display: block;
}

.modal-writeus__close {
  position: absolute;
  top: 16px;
  right: 12px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.modal-writeus__close::before,
.modal-writeus__close::after {
  position: absolute;
  top: 8px;
  right: 0px;
  z-index: 2000;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #323232;
  content: "";
}

.modal-writeus__close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-writeus__close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-writeus p {
  margin: 0;
  margin-bottom: 20px;
  color: #323232;
  font-weight: 600;
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 28px;
}

.modal-writeus__form {
  position: relative;
  padding-bottom: 50px;
}

.modal-writeus__name,
.modal-writeus__email,
.modal-writeus__text {
  position: relative;
  margin-bottom: 20px;
  width: 267px;
  height: 44px;
  border-radius: 5px;
}

.modal-writeus__name-input,
.modal-writeus__email-input,
.modal-writeus__textarea {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 14px;
  width: 267px;
  height: 44px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  color: #323232;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.modal-writeus__name-label,
.modal-writeus__email-label,
.modal-writeus__textarea-label {
  position: absolute;
  top: 10px;
  left: 14px;
  overflow: hidden;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.modal-writeus__name-input:hover,
.modal-writeus__email-input:hover,
.modal-writeus__textarea:hover {
  border-color: #999;
  box-shadow: inset 0 0 0 1px #999;
}

.modal-writeus__name-input:focus,
.modal-writeus__email-input:focus,
.modal-writeus__textarea:focus {
  outline: none;
  border-color: #8fbdec;
  box-shadow: inset 0 0 0 1px #8fbdec;
}

.modal-writeus__name-input:focus + .modal-writeus__name-label,
.modal-writeus__name-input:valid + .modal-writeus__name-label,
.modal-writeus__email-input:focus + .modal-writeus__email-label,
.modal-writeus__email-input:valid + .modal-writeus__email-label,
.modal-writeus__textarea:focus + .modal-writeus__textarea-label,
.modal-writeus__textarea:valid + .modal-writeus__textarea-label {
  position: absolute;
  top: -15px;
  left: 15px;
  color: #5b9ddf;
  font-weight: 400;
  font-size: 11px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 13px;
}

.modal-writeus__name-input:valid,
.modal-writeus__email-input:valid,
.modal-writeus__textarea:valid {
  outline: none;
  border: 1px solid #d3d3d2;
  box-shadow: none;
}

.modal-writeus__name-input:valid + .modal-writeus__name-label,
.modal-writeus__email-input:valid + .modal-writeus__email-label,
.modal-writeus__textarea:valid + .modal-writeus__textarea-label {
  color: #999;
}

.modal-writeus__text {
  min-height: 155px;
  width: 428px;
}

.modal-writeus__textarea {
  overflow: auto;
  box-sizing: border-box;
  padding: 8px 14px;
  min-height: 155px;
  width: 100%;
  white-space: pre-wrap;
  resize: none;
}

.modal-writeus__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  float: left;
  padding: 11px 23px;
  padding-bottom: 12px;
  outline: none;
  border: none;
  border-radius: 50px;
  background: #ec583c;
  background: -webkit-linear-gradient(top, #f16743, #e74b36);
  background: linear-gradient(to bottom, #f16743, #e74b36);
  box-shadow: 0 2px 2px 0 #e74b36;
  color: #fff;
  text-shadow: 0 3px 7px #e9543a;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 24px;
}

.modal-writeus__btn:hover {
  outline: none;
  background: -webkit-linear-gradient(top, #f58669, #ed705e);
  background: linear-gradient(to bottom, #f58669, #ed705e);
  box-shadow: 0 2px 2px #ac1000;
}

.modal-writeus__btn:active {
  outline: none;
  background: -webkit-linear-gradient(bottom, #f16743, #e74b36);
  background: linear-gradient(to top, #f16743, #e74b36);
  box-shadow: inset 0 2px 2px #ac1000;
}















/*===========================
=============================

КАТАЛОГ

===========================
===========================*/





/*=========================== 
КРОШКИ
===========================*/

.breadcrumbs {
  margin: -22px auto;
  margin-bottom: 0;
  padding: 0 27px;
  width: 1146px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-right: 16px;
  padding-left: 1px;
  list-style: none;
  vertical-align: top;
}

.breadcrumbs__item a::after {
  position: absolute;
  top: 2px;
  right: 4px;
  z-index: 100;
  color: #fff;
  content: "»";
}

.breadcrumbs__item a {
  border-bottom: 1px solid #9db1a5;
  color: #fff;
  text-decoration: none;
}

.breadcrumbs__item a:hover,
.breadcrumbs__item a:active {
  border-color: rgba(255, 188, 158, 0.3);
  color: #ffbc9e;
}










/*=========================== 
ЗАГОЛОВОК
===========================*/

.catalog-content__title {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 27px;
  padding-top: 4px;
  width: 1146px;
  color: #fff;
  font-weight: 500;
  font-size: 35px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 41px;
}










/*=========================== 
СОРТИРОВКА
===========================*/

.sorting {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 27px;
  width: 1146px;
}



.sorting__item {
  display: inline-block;
  margin-top: 6px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: top;
}

.sorting__item h4 {
  margin: 0;
  margin-bottom: 6px;
  margin-left: 16px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}





/*=============
==============*/

.sorting__select-custom {
  position: relative;
  overflow: hidden;
  min-height: 36px;
  width: 193px;
  border-radius: 20px;
}

.sorting__select-custom::after {
  position: absolute;
  top: 17px;
  right: 15px;
  border: 4px solid transparent; 
  border-top: 5px solid #fff; 
  content: "";
}

.sorting__select-custom:hover::after {
  position: absolute;
  top: 17px;
  right: 15px;
  border: 4px solid transparent; 
  border-top: 5px solid #323232; 
  content: "";
}

.sorting__select select {
  position: relative;
  padding: 7px 12px;
  width: 225px;
  border: none;
  border-radius: 20px;
  background-color: #a9bab0;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
  cursor: pointer;
}

.sorting__select select:hover {
  background-color: #fff;
  color: #323232;
  cursor: pointer;
}

.sorting__select option {
  color: #323232;
}

.sorting__select options {
}





/*=============
==============*/

.sorting__price-min {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 54px;
  border: none;
  background-color: transparent;
  color: #fff;
  vertical-align: top;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.sorting__price-max {
  margin: 0;
  padding: 0;
  width: 54px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 16px;
}

.sorting__price-controls {
  position: relative;
  margin-top: 6px;
  margin-left: 2px;
  padding: 16px 15px;
  border-radius: 20px;
  background-color: #aabbb1;
}

.sorting__price-scale {
  position: relative;
  width: 188px;
  height: 4px;
  background-color: #d1dad3;
}

.sorting__price-bar {
  position: absolute;
  top: 0;
  left: 22px;
  width: 106px;
  height: 4px;
  background-color: #f8f7f4;
}

.sorting__price-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.sorting__price-toggle--min {
  top: 8px;
  left: 36px;
}

.sorting__price-toggle--max {
  top: 8px;
  left: 133px;
}





/*=============
==============*/

.sorting__fat-radio {
  padding: 0 17px;
  height: 36px;
  border-radius: 20px;
  background-color: #aabbb1;
  vertical-align: middle;
}

.sorting__fat-radio label {
  position: relative;
  display: inline-block;
  margin-top: 7px;
  margin-right: 6px;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 30px;
  height: 19px;
  background: url(../img/sprite.png) no-repeat -10px -798px;
  color: #fff;
  vertical-align: middle;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
  cursor: pointer;
}

.sorting__fat-radio label:last-child {
  margin-right: 0;
  padding-right: 0;
}

.sorting__fat-radio label:hover {
  background: url(../img/sprite.png) no-repeat -10px -966px;
}

.sorting__fat-radio input[type="radio"] {
  display: none;
}

.sorting__fat-radio input[type="radio"]:checked + label {
  background: url(../img/sprite.png) no-repeat -10px -840px;
}

.sorting__fat-radio input[type="radio"]:checked + label:hover {
  background: url(../img/sprite.png) no-repeat -10px -1008px;
}

.sorting__fat-radio input[type="radio"]:disabled + label {
  background: url(../img/sprite.png) no-repeat -10px -924px;
}





/*=============
==============*/

.sorting__check-items {
  padding: 0 15px;
  height: 36px;
  border-radius: 20px;
  background-color: #aabbb1;
  vertical-align: middle;
}

.sorting__check-items input {
  display: none;
}

.sorting__check-items label {
  display: inline-block;
  margin-top: 7px;
  margin-right: 6px;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 33px;
  height: 22px;
  background: url(../img/sprite.png) no-repeat -9px -89px;
  color: #fff;
  vertical-align: top;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
  cursor: pointer;
}

.sorting__check-items label:last-child {
  margin-right: 0;
}

.sorting__check-items label:hover {
  background: url(../img/sprite.png) no-repeat -9px -249px;
}

.sorting__check-items input[type="checkbox"]:checked + label {
  background: url(../img/sprite.png) no-repeat -9px -129px;
}

.sorting__check-items input[type="checkbox"]:checked + label:hover {
  background: url(../img/sprite.png) no-repeat -9px -289px;
}

.sorting__check-items input[type="checkbox"]:disabled + label {
  background: url(../img/sprite.png) no-repeat -9px -209px;
}





/*=============
==============*/

.sorting__btn {
  margin-top: 28px;
  padding: 7px 27px;
  outline: none;
  border: 2px solid #fff;
  border-radius: 20px;
  background-color: #aabbb1;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
  cursor: pointer;
}

.sorting__btn:hover {
  background-color: #fbfcfb;
  color: #323232;
}

.sorting__btn:active {
  padding: 9px 30px;
  border: 2px solid #eaeaea;
  border: none;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 3px 0px #686868;
  color: #323232;
}










/*=========================== 
КАТАЛОГ (общее, остальное - в промо)
===========================*/


.catalog {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 27px;
  min-height: 330px;
  width: 1146px;
}










/*=========================== 
ПАГИНАЦИЯ
===========================*/

.pagination {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0 27px;
  min-height: 30px;
  width: 1146px;
}

.pagination__list {
  padding-top: 9px;
  padding-bottom: 29px;
  border-bottom: 1px solid rgba(230, 230, 255, 0.4);
  list-style: none;
  text-align: right;
}

.pagination__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.pagination__link {
  display: inline-block;
  overflow: hidden;
  margin-left: -2px;
  padding-top: 5px;
  width: 27px;
  height: 22px;
  border-radius: 50%;
  color: #fff;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 18px;
}

.pagination__link:not(.pagination__link--current):hover {
  background-color: #9db1a5;
}

.pagination__link-prev {
  margin-right: 20px;
  width: 15px;
  font-size: 0;
}

.pagination__link-next {
  margin-left: 20px;
  width: 15px;
  font-size: 0;
}

.pagination__link--current {
  background-color: #fff;
  color: #353535;
}

.pagination__link-prev::before,
.pagination__link-next::before {
  position: absolute;
  top: 9px;
  display: block;
  width: 7px;
  height: 7px;
  content: "";
}

.pagination__link-prev::before {
  top: 9px;
  left: 2px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  font-size: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pagination__link-prev--disabled::before {
  top: 9px;
  left: 2px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 0;
  cursor: default;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.pagination__link-next::before {
  right: 2px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  font-size: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}










